Repository GoogleCloudPlatform/anthos-samples, changes with the owners that CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver, @GoogleCloudPlatform/onyx-gke-observability, @GoogleCloudPlatform/anthos-multicloud, @GoogleCloudPlatform/anthos-baremetal-eng, @GoogleCloudPlatform/app-mod-customer-engineers

CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# for more info about CODEOWNERS file.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*                                 @GoogleCloudPlatform/anthos-dpe @yoshi-approver

# The samples specific to observability and monitoring should be reviewed by
# the Onyx GKE Observability team (go/onyx-observability)
/aws-logging-monitoring/          @GoogleCloudPlatform/onyx-gke-observability @yoshi-approver
/attached-logging-monitoring/     @GoogleCloudPlatform/onyx-gke-observability @yoshi-approver
/gmp-grafana-dashboards/          @GoogleCloudPlatform/onyx-gke-observability @yoshi-approver
/anthos-attached-clusters/        @GoogleCloudPlatform/anthos-multicloud @yoshi-approver
/anthos-multi-cloud/		  @GoogleCloudPlatform/anthos-multicloud @yoshi-approver
/anthos-bm-utils/		  @GoogleCloudPlatform/anthos-baremetal-eng @yoshi-approver
/anthos-bm-apigee/		  @GoogleCloudPlatform/app-mod-customer-engineers @yoshi-approver

fix: add version constraint for helm provider
  anthos-attached-clusters/modules/attached-install-manifest/provider.tf
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

fix: add version constraint for helm provider (#672)
  anthos-attached-clusters/modules/attached-install-manifest/provider.tf
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

added a kind example with an oidc module as well
  .gitignore
  anthos-attached-clusters/kind/README.md
  anthos-attached-clusters/kind/main.tf
  anthos-attached-clusters/kind/oidc/main.tf
  anthos-attached-clusters/kind/oidc/outputs.tf
  anthos-attached-clusters/kind/oidc/providers.tf
  anthos-attached-clusters/kind/oidc/variables.tf
  anthos-attached-clusters/kind/provider.tf
  anthos-attached-clusters/kind/variables.tf
Owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver, @GoogleCloudPlatform/anthos-multicloud

added more info on credentials
  anthos-attached-clusters/kind/README.md
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

Update main.tf
  anthos-attached-clusters/kind/oidc/main.tf
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

Update README.md
  anthos-attached-clusters/kind/README.md
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

Update README.md
  anthos-attached-clusters/kind/README.md
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

Update README.md
  anthos-attached-clusters/kind/README.md
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

fixes #675:: anthos-bm-gcp-bash/install_admin_cluster.sh : check SSH access timeout
  anthos-bm-gcp-bash/install_admin_cluster.sh
Owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver

skipping commit from contributor's wrong account
  anthos-attached-clusters/kind/oidc/outputs.tf
  anthos-attached-clusters/kind/provider.tf
  anthos-attached-clusters/kind/variables.tf
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

putting back some license and typo fixes
  anthos-attached-clusters/kind/README.md
  anthos-attached-clusters/kind/main.tf
  anthos-attached-clusters/kind/oidc/main.tf
  anthos-attached-clusters/kind/oidc/providers.tf
  anthos-attached-clusters/kind/oidc/variables.tf
Owners: @GoogleCloudPlatform/anthos-multicloud, @yoshi-approver

Adding more APIs and role binding to the prerequisite #678
  anthos-bm-gcp-bash/install_admin_cluster.sh
Owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver

chore(deps): update ossf/scorecard-action digest to 0a8153a
  .github/workflows/scorecards-analysis.yml
Owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver

Disable scorecard workflow
  .github/workflows/scorecards-analysis.yml
Owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver

Disable scorecard workflow (#681)
  .github/workflows/scorecards-analysis.yml
Owners: @GoogleCloudPlatform/anthos-dpe, @yoshi-approver
